body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  background-color: rgb(168, 35, 23);
  margin: 0;
  padding: 0;
  gap: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(190, 191, 193);
  padding: 30px;
  width: 1300px;
  flex-grow: 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

#magic,
#screen {
  font-family: "Roboto Slab", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: rgb(204, 153, 51);
}

#eas {
  font-family: "Stalemate", cursive;
  font-size: 50px;
  font-weight: 600;
  color: rgb(204, 153, 51);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: -70px;
  gap: 20px;
}

.buttons button {
  padding: 5px 15px;
  font-size: 16px;
  font-family: "Roboto Slab", cursive;
  color: rgb(204, 153, 51);
  background-color: rgb(190, 191, 193);
}

#eraser {
  cursor: pointer;
}

#eraser.active {
  background-color: rgb(168, 35, 23);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-self: stretch;
  padding: 10px 0px;
}

a {
  font-size: 30px;
  font-family: "Stalemate", cursive;
  color: rgb(204, 153, 51);
  text-decoration: none;
}
